@import "_common"
@import "_header"
@import '_sidebar'

@font-face
  font-family Ba
  font-style normal
  src url(fonts/Boulding-Work-St.ttf)
  @font-face
    font-family Shadowed
    font-style normal
    src url(fonts/SHADSER.ttf)

$width = 900px
$space = 50px
$setup = 1150px

body
    background-color darken($light, 10%)

#logo
    span
        font-size 1.2em
    img
        display none

.sidebar
    display none

#mobile-bar
    &.top
        background-color #9800a0
        box-shadow none
        .logo
            // display none

#hero
    padding $space 40px
    background-color #fff

    .inner
        max-width $width
        margin 0 auto
        margin-top 40px

    .left, .right
        display inline-block
        vertical-align top
    .left
        width 39%
    .right
        width 61%
    .hero-logo
        width 215px
        height 215px
        float right
        transition all .3s ease
        filter grayscale(100%)
        opacity 0.66
        margin-right 60px
        border-radius 53%
        border 5px solid #9800a0;
        &:hover
            filter none
            opacity 1
            border 5px solid rgba(127, 114, 140, 0.94)

    h1
        font-weight 300
        margin 0
        font-size 3.2em
        font-family Aa
        color #ed5565

    h2
        font-family Shadowed
        font-weight 300
        font-size 2.6em
        margin 0 0 10px
        color #ed5565
        span
            color #57a863

    .button
        margin 1em 0
        background-color #f4645f
        font-size 1.05em
        font-weight 600
        letter-spacing .1em
        border-radius 2px
        border 2px solid #9800a0
        color #fff
        &:hover
            background-color #9800a0
        &:first-child
            margin-right 1em
            background-color #9800a0
            border-radius 2px
            border 2px solid #f4645f
            &:hover
                background-color #f4645f
    .social-buttons
        list-style-type none
        padding 0
        li
            display inline-block
            vertical-align middle
            margin-right 15px

#highlights
    background-color #fff
    padding-bottom 120px
    border-bottom 4px solid #00a098;

    .inner
        max-width $width
        margin 0 auto
        text-align center
    .point
        width 33%
        display inline-block
        vertical-align top
        box-sizing border-box
        padding 0 2em
        h2
            color $green
            font-size 1.5em
            font-weight 400
            margin 0
            padding .5em 0
        p
            color $light




#sponsors
    text-align center
    padding 35px 40px 45px
    background-color rgba(221, 222, 221, 0.8)
    .inner
        max-width 700px
        margin 0px auto
    h3
        color #999
        font-size .9em
        margin 0 0 10px
    h1
       color #9800a0;
       &:hover
           color #999
    a
        margin 20px 15px 0
        position relative
    a, img
        width 100px
        display inline-block
        vertical-align middle
    img
        transition all .3s ease
        filter grayscale(100%)
        opacity 0.66
        &:hover
            filter none
            opacity 1
    a.vip
        display block
        margin 30px auto 15px
        width 200px
        img
            width 200px
    .become-sponsor
        margin-top 40px
        font-size .9em
        font-weight 700
        width auto
        border-radius 5px
        border 2px solid #f4645f
        background-color transparent
        color #f4645f
        &:hover
            background-color #f4645f
            color #fff

#footer
    padding 20px 0
    color #fff
    text-align center
    border-top 4px solid #00a098;
    background-color #9800a0

    a
        font-weight 700
        color #fff

    .my-social
        ul
            list-style none
            li
                display inline-block
                margin-left 10px
                a
                  color yellow
                  img
                    width 20px
                    height 20px
                    transition all .3s ease
                    filter grayscale(100%)
                    opacity 0.66
                    &:hover
                        filter none
                        opacity 1

@media screen and (max-width: $width)
    body
        -webkit-text-size-adjust none
        font-size 14px
    .sidebar
        display block
    #header
        display none
    #mobile-bar
        display block
        background-color #f4645f
    #hero
        padding $space 40px 30px
        .hero-logo
            float none
            margin 30px 0 15px
            width 140px
            height 140px
        .left, .right
            text-align center
            width 100%
        h1
            font-size 2em
        h2
            display block
        .button
            font-size .9em
    #highlights
        .point
            display block
            margin 0 auto
            width 300px
            padding 0 40px 30px
            &:before
                content "—"
                color $green
