canvas {
  background: #f9f9f9;
  width: 100%;
  height: 650px !important;
}

.overlay {
  width: 100%;
  opacity: .75;
  margin-top: -520px;
  position: absolute;


}


/* Utility */

/*.abs {position: absolute;}*/
