<li class="nav-dropdown-container language">
  <a class="nav-link">Official</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="https://laravel.com/" class="nav-link" target="">Laravel</a></li>
    <li><a href="https://laracasts.com/" class="nav-link" target="_blank">Laracast</a></li>
    <li><a href="https://laravel-news.com/blog" class="nav-link" target="_blank">Laravel News</a></li>
    <li><a href="https://larajobs.com/#/" class="nav-link" target="_blank">Larajob</a></li>
      <li><a href="http://cheats.jesse-obrien.ca/" class="nav-link" target="_blank">Cheat Sheet</a></li>
  </ul>
</li>
